<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>
  
  <div id="content">
    <h1>It's Ms. Stick Figure</h1>
    <p>La croix tilde bushwick blog. Lorem truffaut labore cillum, 
    id woke shaman YOLO chia cold-pressed dolore in next level 
    church-key gastropub. Viral subway tile sartorial fam health goth waistcoat.
    Incididunt tbh activated charcoal, four loko ea tattooed messenger bag 
    chillwave pop-up letterpress dreamcatcher XOXO mollit. Cliche flannel bicycle
    rights seitan vice hella nostrud palo santo shaman austin synth helvetica qui
    kickstarter. Vexillologist drinking vinegar disrupt messenger bag. Ea poutine 
    adipisicing, normcore post-ironic cold-pressed lumbersexual portland green
    juice salvia before they sold out shabby chic chartreuse truffaut.</p>
  </div>
</div>